.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Title {
	justify-content: center;
}

.Canvas {
	display: flex;
	flex-direction: row;
}

.CanvasBox {
	border: 2px solid black;
}

.CanvasButtons {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.Screenshot {
	width: 100px;
	height: 100px;
}

.Prediction {
	display: flex;
	flex-direction: row;
}

.PredictionValue {
	padding-left: 15px;
}
